body {
    margin: auto;
    padding: 5%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*   ROBOTS    */
#clark {
    width: 40%;
}
#bruce {
    width: 40%;
}
#blue-talk {
    border: solid black 2px;    
    text-align: center;
    margin: 10%;
}
#red-talk {
    border: solid black 2px;      
    text-align: center;
    margin: 10%;
}
