<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elden Ring Boss Survey</title>
    <meta name="description" content=""/>
    <meta name="author" content="kelle" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css" />
  </head>
  <body>
    <header></header>

    <nav>
      <div id="nav-list"></div>
    </nav>
   
    <main>
      <p>Working</p>
    </main>
    <aside></aside>
    <footer></footer>

  <script type="module" src="../main.js"></script>
  </body>
</html>