<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elden Ring Boss Survey - Boss Details Page</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css" />   
    <meta charset="UTF-8" />
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
  </head>
  <body>
    <header></header>
    <nav>
        <div id="nav-list"></div>
    </nav>
    <main>
        <div id="boss-details">
            <h1 id="boss-name"></h1>
            <div id="details-boss-image"></div>
        <div id="details-wrapper">
            <p id="description"></p>
            <div id="drops"></div>
            <p id="location"></p>
            <p id="region"></p>
            <p id="health-points"></p>
            <p id="boss-ratings"></p>
        </div>
        </div>
    </main>
    <aside></aside>
    <footer>  
      <div id="footer-info"></div>
    </footer>

    <script type="module" src="../bosses.js"></script>
  </body>
</html>