<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elden Ring Boss Survey</title>
    <meta name="description" content=""/>
    <meta name="author" content="kelle" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css" />
  </head>
  <body>
    <header></header>
    
    <nav>
      <div id="nav-list"></div>
    </nav>
    
    <main>
      <div id="home-intro-wrapper">

        <div id="intro-grid-wrapper">
          <div id="intro-info-wrapper">
            <h2 id="intro-header">
              ELDEN RING BOSS RATINGS
            </h2>

            <div id="intro-par">
              <p>
                Compare and vote on different aspects of Elden Ring Bosses. Click the bosses tab to get more information on different bosses.
              </p>
            </div>
          </div>

          <div id="boss-rater"></div>
          <h1 id="boss-name-rater"></h1>
          <div id="boss-image-rater"></div>
        </div>
  
        <div id="boss-rater-wrapper">
          <div id="ratings">
            <form>
              <h3>Difficulty:</h3>
              <input type="radio" class="difficulty" name="difficulty" value="1">
              <label for="difficulty">1</label>
              <input type="radio" class="difficulty" name="difficulty" value="2">
              <label for="difficulty">2</label>
              <input type="radio" class="difficulty" name="difficulty" value="3">
              <label for="difficulty">3</label>
              <input type="radio" class="difficulty" name="difficulty" value="4">
              <label for="difficulty">4</label>
              <input type="radio" class="difficulty" name="difficulty" value="5">
              <label for="difficulty">5</label>


              <h3>Ugliness:</h3>
              <input type="radio" class="ugliness" name="ugliness" value="1">
              <label for="ugliness">1</label>
              <input type="radio" class="ugliness" name="ugliness" value="2">
              <label for="ugliness">2</label>
              <input type="radio" class="ugliness" name="ugliness" value="3">
              <label for="ugliness">3</label>
              <input type="radio" class="ugliness" name="ugliness" value="4">
              <label for="ugliness">4</label>
              <input type="radio" class="ugliness" name="ugliness" value="5">
              <label for="ugliness">5</label>


              <h3>Beauty:</h3>
              <input type="radio" class="beauty" name="beauty" value="1">
              <label for="beauty">1</label>
              <input type="radio" class="beauty" name="beauty" value="2">
              <label for="beauty">2</label>
              <input type="radio" class="beauty" name="beauty" value="3">
              <label for="beauty">3</label>
              <input type="radio" class="beauty" name="beauty" value="4">
              <label for="beauty">4</label>
              <input type="radio" class="beauty" name="beauty" value="5">
              <label for="beauty">5</label>


              <h3>Annoying:</h3>
              <input type="radio" class="annoyance" name="annoyance" value="1">
              <label for="annoyance">1</label>
              <input type="radio" class="annoyance" name="annoyance" value="2">
              <label for="annoyance">2</label>
              <input type="radio" class="annoyance" name="annoyance" value="3">
              <label for="annoyance">3</label>
              <input type="radio" class="annoyance" name="annoyance" value="4">
              <label for="annoyance">4</label>
              <input type="radio" class="annoyance" name="annoyance" value="5">
              <label for="annoyance">5</label>

              <br><br><button type="submit">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </main>
    <aside></aside>
    <footer>
      <div id="footer-info"></div>
    </footer>
    <script type="module" src="../main.js"></script>
  </body>
</html>