body {
    margin: 0;
}

main {
    width: 50%;
    margin: auto;
    padding-left: 20%;
}

#table-header {
    margin: auto;
    padding-bottom: 3%;
    text-decoration: underline;
}

footer {
    margin-top: 10%;
    float: right;
    padding-right: 10%;
}


/*////////////////// THESE STYLES BELOW HANDLE TABLE BORDERS ///////////////*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    width: 100px;
    height: 100px;
    text-align: center;
}
td:nth-child(1) {
    border-left: hidden;
}
td:last-child {
    border-right: hidden;
}
tr:nth-child(1) {
    border-top: hidden;
}
tr:last-child {
    border-bottom: hidden;
}
